name: build-and-push

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Login GHCR
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_TOKEN }}

      - name: Build image
        run: |
          IMAGE_NAME=ghcr.io/${{ github.actor }}/home-assistent:latest
          docker build -t $IMAGE_NAME ./home-assistent
          docker push $IMAGE_NAME
